<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Franny - Signin</title>
    <style>
        .body{
            background-color: #f0f1f3e7;
        }
        h1,h4,label{
            color: #42d12b;
        }
        a{
            color: #42d12b;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover{
            color: #1f252a;
        }
        button, .btn{
            background-color: #42d12b;
            font-weight: bold;
        }
        form{
            border: #dcdcdd solid 1px;
            padding: 10px;
            border-radius: 12px;
        }
    </style>
       
</head>

<body>
    <div class="container col-lg-6">
        <div class="logo text-center">
            <h1 class="m-3">SIGNIN TO YOUR ACCOUNT</h4>
                <div class="m-2">
                    <img  src="/images/newlogo.png" alt="logo franny">
                </div>
        </div>
        <div class="m-5">
            <form method="POST" action="/admin/signin?_method=PATCH"  enctype="application/x-www-form-urlencoded">
                <div class="form-group m-2">
                    <label for="Email">Email Adress</label>
                    <input class="form-control" type="text" placeholder="Enter your email" name="email" required>
                </div>
                <div class="form-group m-2">
                    <label for="password">Password</label>
                    <input class="form-control" type="password"  placeholder="Enter your Password" name="password" required>
                </div>
                <p class="text-center">
                    <button class=" btn m-3" type="submit">
                        Sign into your account
                    </button>
                </p>
            </form>
        </div>
        
        <div class="text-center m-5">
            <a href="/admin/reset">Forgot password ?</a>
            <p class="generic">No account? <a href="/admin/signup">Create One</a> </p>
        </div>
    </div>
</body>

</html>

